.logo
{
    width: 500px;
    height: 100px;
    border: 2px;
    border-color: black;

}
 .button {
     border: none;
     color: white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     cursor: pointer;
 }
.dahafazlaaaa{
    text-decoration:none;
    color:#000;
    border:1px solid #f60; border-radius:7px;
    font-size: 13px;
    padding:10px 20px;

}
.dahafazlaaaa:hover{
    background-color:#f60;
    color:#fff;
}


